<%- include('../components/navbar.html') %>
<div class="text-center finisher-header">
	<p class="text-3xl m-5"><%= jsonLanguage.about.title %></p>
		<div class="wrapper flex justify-center items-center">
			<div class="static-txt">I'm</div>
			<div id="dynamic-txts" class="text-left">
				<ul>
					<li><span>Miguel Simao</span></li>
					<li><span>Matéo Le Bras Sancho</span></li>
					<li><span>Jean-Baptiste Renier</span></li>
				</ul>
			</div>
		</div>
	<div class="flex justify-center items-center w-full">
		<div class="carousel mt-10" data-carousel>
			<button class="carousel-button prev" data-carousel-button="prev">&#8656;</button>
			<button class="carousel-button next" data-carousel-button="next">&#8658;</button>
			<ul data-slides class="flex justify-center items-center h-full w-full">
				<li class="slide flex justify-center items-center" data-active>
					<a class="my"><img class="image" src="public/images/miguel.png" alt="Nature Image #1"></a>
				</li>
				<li class="slide flex justify-center items-center">
					<a class="my"><img class="image" src="public/images/mateo.png" alt="Nature Image #2"></a>
				</li>
				<li class="slide flex justify-center items-center">
					<a class="my"><img class="image" src="public/images/jb.png" alt="Nature Image #3"></a>
				</li>
			</ul>
		</div>
	</div>
</div>
<script src="../public/style/finisher-header.es5.min.js" type="text/javascript"></script>
