<h1>List of Users</h1>
<% if (user.length === 0) { %>
	<p>No users found.</p>
<% } else { %>
	<ul>
		<% user.forEach(u => { %>
			<li><%= u.username %> - <%= u.email %></li>
		<% }) %>
	</ul>
<% } %>
