<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Transcendence </title>
	<link rel="stylesheet" href="public/style/style.css">
	<link rel="stylesheet" href="public/style/tailwind.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined">
	<script src="../languages/fr.json"></script>
</head>
<body>
	<nav class="bg-blue-500">
		<ul>
			<li><a class="my" href="/">home</a></li>
			<li><a class="my" href="/about">about</a></li>
			<li><a class="my" href="/game">game</a></li>
			<li><a class="my connected" href="/profil">profil</a></li>
			<li><a class="logout connected" href="/login" >logout</a></li>
			<li><a class="my disconnected" href="/login">Login</a></li>
		</ul>
	</nav>
	<div id="app"></div>
	<script type="module" src="dist/srcs/public/main.js"></script>
</body>
</html>
