<div class="list-inside border-2 border-indigo-500 rounded-lg mt-2">
    Entrez un nom pour le second joueur...
    <input type="text" id="username" name="username" placeholder="username" class="border-2 border-gray-500 w-full h-full rounded-l">
</div>
<button id="buttonValidation" class="bg-blue-500 text-white px-4 py-2 rounded-lg mt-4">Validate</button>


