<div class="list-inside rounded-lg mt-10 text-center">
	<%= jsonLanguage.localParty.label %>
	<div class="flex justify-center align-center mt-5">
		<input type="text" id="username" name="username" placeholder="username" class="border-2 border-gray-500 w rounded-lg">
	</div>
</div>
<div class="flex justify-center align-center">
	<button id="buttonValidation" class="bg-blue-500 text-white px-4 py-2 rounded-lg mt-4 hover:scale-110">Validate</button>	
</div>
<div class="flex justify-center align-center">
	<canvas id="renderCanvas" tabindex="1" width="900" height="600" canva-game="solo"></canvas>
</div>
