<div>
    <h1>Login</h1>
    <form action="/createUser" method="post">
        <div class="mb-2">
            <label for="username">Username</label>
            <input type="text" id="username" name="username">
        </div>
        <div class="mb-2">
            <label for="email">Password</label>
            <input type="password" id="password" name="password">
        </div>
        <button type="submit" class="bg-green-500">Confirm</button>
    </form>
</div>
