<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="border-2 border-sky-500">
        <h1 class="text-center">Register</h1>
        <% if (message && message.error) { %>
            <div class="text-red-500">
                <%= message.error %>
            </div>
        <% } %>
        <form action="/createUser" method="post">
            <div class="mb-2">
                <label for="username">Username</label>
                <input type="text" id="username" name="username">
            </div>
            <div class="mb-2">
                <label for="email">Email</label>
                <input type="email" id="email" name="email">
            </div>
            <div class="mb-2">
                <label for="email">Password</label>
                <input type="password" id="password" name="password">
            </div>
            <button type="submit">Confirm</button>
        </form>
    </div>
</body>
</html>