<div class="list-inside rounded-lg mt-10 text-center" id="divSolo">
	<%= jsonLanguage.remote.sentence %>
</div>
<div class="flex justify-center align-center">
	<button id="remoteButton" class="bg-blue-500 text-white px-4 py-2 rounded-lg mt-4 hover:scale-110"><%= jsonLanguage.remote.button %></button>
</div>
<div class="flex justify-center align-center">
	<canvas id="renderCanvas" tabindex="1" width="900" height="600" canva-game="solo"></canvas>
</div>
