<div id="custom-select" class="w-100 m-2 border-2 border-blue-500">
	<input type="hidden" value="0" id="hiddenValue">
	<div id="custom-default" class="flex justify-between items-center border-2 border-red-500 w-[100%] rounded-full p-2">
		Combien de joueurs vont participé au tournoi...
		<span class="material-icons">expand_more</span>
	</div>
	<ul id="custom-options" class="list-inside border-2 border-indigo-500 rounded-lg mt-2 hidden">
		<li data-value="4" class="hover:bg-gray-200">4</li>
		<li data-value="8" class="hover:bg-gray-200">8</li>
		<li data-value="16" class="hover:bg-gray-200">16</li>
	</ul>
</div>
<div id="playerNames" class="flex flex-wrap border-2 border-indigo-500 justify-between w-300"></div>
<div id="divButton" class="flex justify-center"></div>