<%- include('../../components/navbar.html') %>
<div class="container">
	<div class="error-emoji" data-emoji="ЁЯТе">ЁЯТе</div>
	<div class="error-code">500</div>
	<h1 class="error-title"><%= jsonLanguage.internalServerError.title %></h1>
	<p class="error-message"><%= jsonLanguage.internalServerError.message %></p>
	<br>
	<a href="/" class="my home-btn"><%= jsonLanguage.notFound.help %></a>
</div>
